{% extends "base.html" %}

{% block subtitle %}Parties{%endblock%}

{%block content%}
<h2>Parties</h2>
<div class="panel-body" >
<p>Sharp Sparks provides entertainment for children’s birthday parties.</p>

<p> We love to entertain children at birthday parties.   We offer a range of activities, which can be theme to meet your needs.</p>
<ul>
    <li>Etextiles – electronics ( small amount of sewing required)</li>
    <li>Computer programming</li>
    <li>Robotics</li>
    <li>Science Demonstrations</li>
    <li>Craft Activities</li>
</ul>


<p>The space requirements depend on the type of party required.  For computer programming access to multiple power plugs is a requirement.  For science- based parties’ table space with floor room for the children to sit is all that is needed.</p>
</div>
{%endblock%}