{% extends "base.html" %}

{% block subtitle %}Schools{%endblock%}

{%block content%}
    <div class="row">
        <div id="school-carousel" class="carousel slide col-lg-8 col-lg-offset-2" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
            <div class="item active">
              <img src="/static/img/IMG_2654_3.png" alt="">
            </div>
            <div class="item">
              <img src="/static/img/IMG_2657_2.png" alt="">
            </div>
            <div class="item">
              <img src="/static/img/IMG_2660_3.png" alt="">
            </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

        </div>
    </div>
    <h2>School Curriculum</h2>
    <h3>Computer Programming: Curricular</h3>
    <p>Teaching programming will help students develop their logical abilities and improve their problem-solving skills, while giving them an environment where independence, tenacity, and creative thinking are encouraged.</p>

    <h3>G&T sessions: Beyond the curriculum</h3>

    <p>Sharp Spark organises gifted and talented sessions to cover material which is not in the standard curriculum.  It looks at engaging students in STEM (Science, Technology, Engineering, Mathematics) subjects.</p>


<p>Programs are tailored to the requirements of the school</p>
</div>
</div>
{%endblock%}